// Common

.section, .slide {
	text-align:center;	
}

.section {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	outline: none;
	
	& .inner {
		padding-top: 64px;
	}
	
}
.section-content {
	position: relative;
	z-index: 2;
}

.slide {
	position: relative;
}

.bg-img {
	position: absolute;
	width: 100%; 
	height: auto;
	top: 50%; left: 0;
	transform: translateY(-50%);
	z-index: -1;
	
	&.fitting {
		height: 100%;
		object-fit: cover;
	}
}
div.bg-img {
	height: 100%;
}


// Sliders

.slicky-slider {}



// Titles

.title-std {
	position: relative;
	display: inline-block;
	background-color: $primary-color;
	color: #fff;
	padding: $grid-padding/2 $grid-padding;
	margin-bottom: 10rem;
	
	z-index: 1;
	
	&::after {
		content: '';
		display: block;
		width: 426px; 
		height: 213px;
		background: url(img/icon/star-yellow.svg) center bottom no-repeat;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -213px;
	}
}


// A11Y

.a11y-title {
	font-size: 9.2rem;
	margin-bottom: 0;
}
.a11y-numeronym,
.a11y-number {
	font-size: 5.2rem;
	margin-bottom: 0;
}
.a11y-numeronym {
	font-family: $font-title;
	
	span {
		color: $primary-color;
	}
}
.a11y-number {
	font-family: $font-title-light;
	color: $primary-color;
	
	&::before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 260px; height: 26px;
		background: url(img/accolade.svg) center center no-repeat;
		background-size: 260px 26px;
	}
	
	&.large::before {
		width: 480px;
		height: 36px;
		background-size: cover;
	}
}