// Common

.section, .slide {
	text-align:center;	

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	
	& .inner {
		padding-top: 64px;
	}
	
}

.section {
	background-attachment: fixed;
}

.section-content {
	position: relative;
	z-index: 2;
}

.slide {
	position: relative;
}

.bg-img {
	position: absolute;
	width: 100%; 
	height: auto;
	top: 50%; left: 0;
	transform: translateY(-50%);
	z-index: -1;
	
	&.fitting {
		height: 100%;
		object-fit: cover;
	}
}
div.bg-img {
	height: 100%;
}


// Titles

.title-std {
	position: relative;
	display: inline-block;
	background-color: $primary-color;
	color: #fff;
	padding: $grid-padding/2 $grid-padding;
	margin-bottom: 10rem;
	
	z-index: 1;
	
	&::after {
		content: '';
		display: block;
		width: 426px; 
		height: 213px;
		background: url(img/icon/star-yellow.svg) center bottom no-repeat;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -213px;
	}
}


// A11Y


.a11y-title {
	font-size: 9.2rem;
	margin-bottom: 0;
}
.a11y-numeronym,
.a11y-number {
	font-size: 5.2rem;
	margin-bottom: 0;
}
.a11y-numeronym {
	font-family: $font-title;
	
	span {
		color: $primary-color;
	}
}
.a11y-number {
	font-family: $font-title-light;
	color: $primary-color;
	
	&::before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 260px; height: 26px;
		background: url(img/accolade.svg) center center no-repeat;
		background-size: 260px 26px;
	}
	
	&.large::before {
		width: 480px;
		height: 36px;
		background-size: cover;
	}
}

.a11y-devices-title {
	position: absolute;
	bottom: $grid-padding*2;
	right: $grid-padding*2;
	padding: $grid-padding;
	max-width: 30rem;
	
	font-size: 3.2rem;
	line-height: 1;
	font-family: $font-title;
	color: $primary-color;
	background-color: #fff;
	text-align: left;
	margin-bottom: 0;		
}

#a11y_section_icons {
	background-color: $secondary-color;
	
	p {
		color: #fff;
	}
}
.a11y-icons {
	text-align: center;
	
	img {
		margin: 0 auto 2em auto;
	}
}
.a11y-icons-title {
	color: #fff;
	font-family: $font-title;
	font-size: 3.2rem;
	
	span {
		display: block;
		font-family: $font-regular;
		font-size: 1.6rem;
	}
}



// Navigation

.nav-slider {
	padding: 5em 0;
}
.nav-slide {
	text-align: left;
	
	h3 {
		font-size: 3.2rem;
		text-transform: uppercase;
		
		&.lowercase {
			text-transform: lowercase;
		}
	}
	img {
		margin: 0 auto;
	}
}


// Forms

#forms_section {
	padding: 5em 0 0 0;
	
	&::after,
	&::before {
		content: '';
		display: block;
		width: 290px;
		height: 100%;
		position: absolute;
		top: 0;
		background: url(img/icon/pattern.svg) 0 0 repeat-y;
	}
	&::before {
		left: $grid-padding*2;
	}
	&::after {
		right: $grid-padding*2;
	}
	
	form {
		padding-bottom: 10em;
	}
}


// Images

.images-slider {
	
	.slicky-slide,
	.row {
		height: 360px;
	}
	
	.centered {
		position: relative;
		
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

